h2.category-title {
  display: flex;
  justify-content: center;
}
.category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  .productt-container {
    max-width: 200px;
    margin-bottom: 20px;
  }
}
